:root {
  --beige: #fff8e2;
  --violet: #ee82ee;
  --blue: #5283d1;
  --orange: #d8410f;
  --yellow: #fec017;
  --green: #364b1e;
}

body {
  overflow: hidden;
  background-color: var(--orange);
  background-image: url("/assets/texture.jpg");
  background-blend-mode: soft-light;
  cursor: url('/assets/default.png'), auto;
}

a {
  cursor: url('/assets/click.png'), auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: var(--beige);
  font-size: 1.2vw;
  overflow-wrap: normal;
  white-space: nowrap;
}

svg {
  fill: var(--beige);
  width: 100%;
}

h1 {
  font-family: "NimbusSanL";
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.icon-wrapper {
  margin-right: 2%;
  max-width: 2.4vw;
}

.bio {
  max-width: 50vw;
 }

.photo img {
  height: 100%;
  width: auto;
}

.photo {
  height: 50vw;
  max-height: 94vh;
  max-width: 50vw;
}

img {
  width: 100%;
  height: auto;
}

.mobile {
  display: none;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  gap: 3vw;
  max-height: 94vh;
}

.header {
  margin-top: -10vh;
}

.arrow {
  position: absolute;
  left: 95vw;
  top: 67vh;
  width: 5vw;
}

.link-to-ep {
  position: absolute;
  left: 74vw;
  top: 70vh;
  width: 15vw;
}

.link {
  margin-top: -8%;
  margin-left: 47%;
  width: 15vw;
}

/* .socials-container {
  margin-top: -20%;
} */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 320px) {
  .link {
    margin-top: -17%;
    margin-left: 48%;
  }
}

@media (orientation: portrait) {
  main {
    height: fit-content;
  }
  body {
    overflow-y: scroll;
  }
  .photo {
    width: 90vw;
    max-width: 90vw;
    height: auto;
  }

  .photo img {
    width: 100%;
    height: auto;
  }
  .content-container {
    flex-direction: column;
    max-height: fit-content;
  }
  .mobile-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .link {
    width: 50vw;
    margin: auto;
  }

  .bio {
    width: 100%;
    max-width: 100%;
  }
  p {
    font-size: 5vw;
    text-align: center;
    white-space: wrap;
  }
  .socials-container {
    align-self: center;
  }
  .header {
    margin-top: -10%;
  }
  .icon-wrapper {
    max-width: 15vw;
    width: 13vw;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 480px) and (orientation: portrait) {
  .link {
    margin-top: -14%;
    margin-left: 48%;
  }
}

@media (min-width: 420px) and (orientation: portrait) {
  .photo {
    width: 60vw;
    max-width: 60vw;
  }
  .link {
    width: 40vw;
    margin: auto;
  }

  p {
    font-size: 3vw;
    text-align: center;
    white-space: wrap;
  }
  .socials-container {
    align-self: center;
  }
  .header {
    margin-top: -12%;
  }
  .icon-wrapper {
    max-width: 15vw;
    width: 13vw;
  }
}

@media (min-width: 600px) {
  .link {
    margin-top: -8%;
    margin-left: 54%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 801px) {
  .link {
    margin-top: -13%;
    margin-left: 50%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1025px) {
  .link {
    margin-top: -12%;
    margin-left: 50%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1281px) {
  .link {
    margin-top: -8%;
    margin-left: 50%;
  }
}

/* @media (max-width: 1450px) {
  .link {
    margin-top: 19%;
    margin-left: 4%;
  }
} */
